{% extends "base_main_static.html" %}

{% load my_formats %}


{% block cabinet_title %} Для просмотра PrivateKey для IPhone приложения, необходимо пройти дополнительную  авторизацию: {% endblock %}
<!--           deals -->
{% block cabinet_content %}
{% include "custom_action_f2a.html" %}

                        <div class="col-md-6" id="home">
                                <input id="key" type="hidden"  value="{{key}}"/>
                                <input id="key_type" type="hidden"  value="{{type}}" />


                                {% if pin_load %}
                                        <p class="help-block">
                                                Введите пожайлуста ваш секретный PIN-код
                                        </p>
                                        <input id="id_pin"    type="hidden" name="pin"/>
                                        <div id="container_pin">
                                        
                                        </div>
                                        <span class="btn btn-enter" onclick="Main.confirm_operation_privatkey()">Подтвердить</span>
                               {% endif %}
                               {% if  use_f2a %}
                                        Введите код из приложения - авторизтора.
                                        <span class="btn btn-enter" onclick="a2f()">Попробовать еще раз</span>
                               {% endif %}
                                
                        </div>  
                        
                        
                       


{% endblock %}

{% block scripts %}

 
  {% if pin_load %}
   <script>
          Pins.attach2pin("id_pin", "container_pin");
   </script>
  {% endif %} 
  {% if use_f2a %}
   <script>
   
   function a2f(){
           var custom_function = function(ga2_Session){
                      Main.confirm_g2a_privatkey(ga2_Session);                     
           };
           Login.use_f2a = true;
           Login.start_f2a_for_custom(custom_function);
   }    
   $( document ).ready(function() {
        a2f();
   });
         
   </script>
 
  {% endif %} 
  
{% endblock %}
