{% extends "base_main.html" %}

{% load my_formats %}

{% block content %}
  <div class="static-page-wrapper"> 

  <main class="cd-main-content">
    <nav class="cd-side-nav">
    </nav>


    <div class="container cabinet-main-container">
      <div class="row">
        <div class="col-md-10 offset-md-1">
          <div class="stock-profile-bar">

          {% include "side_menu_finance.html" %}

          </div>

          <div class="cabinet-page-title">
            <h1>Ваши  заявки на покупку/продажу</h1>
          </div>

<div class="currency-btn-block">

  <div class="d-flex align-content-end flex-wrap">
                {% for Currency in CurrencyTrade %}
                        {% if Currency.url_title == current_stock %}
    <a href="#" id="stock_{{Currency.url_title}}" class="p-2 bd-highlight active-currency">{{Currency.title}}</a>
  {% else %}

    {% if Currency.is_title %}
    {% else %}  
    <a href="/finance/open_orders/{{Currency.url_title}}" id="stock_{{Currency.url_title}}" class="p-2 bd-highlight">{{Currency.title}}</a>
    {% endif %}
  {% endif %}
{% endfor %}
  </div>
</div>

          <div class="common-block table-list-block cabinet-table-block"> 
            <div class="row">
                    {% include "my_open_orders.html"%}
            </div>
          </div>
        </div>
      </div>
    </div>

  </main> <!-- .cd-main-content -->

  </div><!--END of MAIN WRAPPER-->  




{%endblock%}

{% block scripts %}

     <script type="text/javascript">
      Main.trade_pair = "{{trade_pair}}";
      Main.currency_base = "{{Currency1}}";
      Main.currency_on = "{{Currency}}";
      Main.start_stock = false;
      setTimeout(Main.my_orders,500);
    </script>
{% endblock %}
