{% extends "base_main.html" %}

{% load my_formats %}

{% block content %}

  <div class="static-page-wrapper">

  <main class="cd-main-content">
    <nav class="cd-side-nav">
    </nav>


    <div class="container cabinet-main-container">
      <div class="row">
        <div class="col-lg-6 offset-lg-3">

          <div class="common-block cabinet-content-main-block">
            <div class="row">
                
                
                    <div class="col-sm-8 offset-sm-2 form-title">
                        <h1>Для просмотра  этой страницы необходимо авторизироваться</h1>
                        <input type="hidden" value="{{post_url}}"    id="post_url" >
                    </div>
                    <div class="col-sm-8 offset-sm-2 form-page-col">

                    <div class="form-group">
                        <label for="exampleInputEmail1">Email</label>
                        <input type="email" class="form-control" id="login_username" placeholder="Email">
                    <!--     <small id="emailHelp" class="form-text text-muted error-form-text">We'll never share your email with anyone else.</small> -->
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Пароль</label>
                        <input type="password" class="form-control" onkeyup="Login.keyup(event)" id="login_password" placeholder="Пароль">
                    </div>

                    <p><div id="id_captcha" style="margin: 25px 0px;"  class="g-recaptcha" data-sitekey="{{RECAPTCHA_PUBLIC_KEY2}}"></div>




                    <div class="registr-btn-wrapper">
                        <button type="submit" class="btn btn-enter" onclick="Login.try_login_page()">Войти</button>
                        <div class="enter-link-block">
                        <a href="/forgot">Забыли пароль?</a><br>
                        </div>
                    </div>
                    </div>



            </div>
          </div>
        </div>
      </div>
    </div>

  </main> <!-- .cd-main-content -->

  </div><!--END of MAIN WRAPPER-->
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    {% include "scripts.html"%}


</div>

{% include "g2a_modal_dlg.html"%}


{%endblock%}
{% block scripts %}

     <script type="text/javascript">


        Main.rand_key = "{{rand_key}}"
      $(function() {
        //Main.start_stock();


      });
    </script>
{%endblock %}
