{% extends "base_main.html" %}

{% load my_formats %}

{% block content %}

  <div class="static-page-wrapper"> 

  <main class="cd-main-content">
    <nav class="cd-side-nav">
    </nav>

    <div class="static-page-intro-block">
      <div class="container static-page-intro-container">
        <div class="row justify-content-center">
          <div class="col-8">
            <h1 class="for-desktop">Частые вопросы</h1>
            <h1 class="for-mobile">Помощь</h1>
            <span>Возник вопрос? Скорее всего ответ на него вы найдете здесь.</span>
          </div>
        </div>
      </div>
    </div>

    <div class="container static-page-content-container">
      <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 order-md-last order-sm-first">
          <div class="faq-right-menu">          
          <div class="card">
            <div class="card-header">
              ТЕМАТИКИ
            </div>
            <ul class="left-faq-ul">
            <li><a href="#">Общие вопросы</a></li>            
            <li><a href="#">Ввод/вывод средств</a></li>             
            <li><a href="#">Безопасность</a></li> 
            <li><a href="#">Тарифы</a></li>
            </ul>
          </div>  
          </div>        
        </div>          
        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 order-md-first order-sm-last">
          <div class="common-block question-list-block">

            <h2>Название раздела вопросов</h2>

            <div id="question-list" class="question-list">
              <ul>
                <li><a href="#q1">Как работает биржа, механизм совершения сделок?</a></li>
                <li><a href="#q2">Как работает биржа, механизм совершения сделок?</a></li>
                <li><a href="#q3">Как работает биржа, механизм совершения сделок?</a></li>
                <li><a href="#q4">Как работает биржа, механизм совершения сделок?</a></li>
                <li><a href="#q5">Как работает биржа, механизм совершения сделок?</a></li>
                <li><a href="#q6">Как работает биржа, механизм совершения сделок?</a></li>
                <li><a href="#q7">Как работает биржа, механизм совершения сделок?</a></li>    
              </ul>
            </div>
            <hr>
            <div id="q1" class="single-question-block">
              <h3>Как работает биржа, механизм совершения сделок?</h3>
              <p>
              Если в своей заявке вы указали слишком завышенную или заниженную цену относительно среднерыночной, то скорее всего желающих закрыть вашу заявку не найдется. В этом случае вы можете либо ждать, пока рынок достигнет вашей цены и другие участники биржи все таки закроют вашу заявку, либо закрыть заявку и открыть новую с более актуальной ценой.   
              </p>
            </div>
            <div id="q2" class="single-question-block">
              <h3>2 Как работает биржа, механизм совершения сделок?</h3>
              <p>
              Если в своей заявке вы указали слишком завышенную или заниженную цену относительно среднерыночной, то скорее всего желающих закрыть вашу заявку не найдется. В этом случае вы можете либо ждать, пока рынок достигнет вашей цены и другие участники биржи все таки закроют вашу заявку, либо закрыть заявку и открыть новую с более актуальной ценой.   
              </p>
            </div>
            <div id="q3" class="single-question-block">
              <h3>3 Как работает биржа, механизм совершения сделок?</h3>
              <p>
              Если в своей заявке вы указали слишком завышенную или заниженную цену относительно среднерыночной, то скорее всего желающих закрыть вашу заявку не найдется. В этом случае вы можете либо ждать, пока рынок достигнет вашей цены и другие участники биржи все таки закроют вашу заявку, либо закрыть заявку и открыть новую с более актуальной ценой.   
              </p>
            </div>
            <div id="q4" class="single-question-block">
              <h3>4 Как работает биржа, механизм совершения сделок?</h3>
              <p>
              Если в своей заявке вы указали слишком завышенную или заниженную цену относительно среднерыночной, то скорее всего желающих закрыть вашу заявку не найдется. В этом случае вы можете либо ждать, пока рынок достигнет вашей цены и другие участники биржи все таки закроют вашу заявку, либо закрыть заявку и открыть новую с более актуальной ценой.   
              </p>
            </div>
            <div id="q5" class="single-question-block">
              <h3>4 Как работает биржа, механизм совершения сделок?</h3>
              <p>
              Если в своей заявке вы указали слишком завышенную или заниженную цену относительно среднерыночной, то скорее всего желающих закрыть вашу заявку не найдется. В этом случае вы можете либо ждать, пока рынок достигнет вашей цены и другие участники биржи все таки закроют вашу заявку, либо закрыть заявку и открыть новую с более актуальной ценой.   
              </p>
            </div>
            <div id="q6" class="single-question-block">
              <h3>4 Как работает биржа, механизм совершения сделок?</h3>
              <p>
              Если в своей заявке вы указали слишком завышенную или заниженную цену относительно среднерыночной, то скорее всего желающих закрыть вашу заявку не найдется. В этом случае вы можете либо ждать, пока рынок достигнет вашей цены и другие участники биржи все таки закроют вашу заявку, либо закрыть заявку и открыть новую с более актуальной ценой.   
              </p>
            </div>
            <div id="q7" class="single-question-block">
              <h3>4 Как работает биржа, механизм совершения сделок?</h3>
              <p>
              Если в своей заявке вы указали слишком завышенную или заниженную цену относительно среднерыночной, то скорее всего желающих закрыть вашу заявку не найдется. В этом случае вы можете либо ждать, пока рынок достигнет вашей цены и другие участники биржи все таки закроют вашу заявку, либо закрыть заявку и открыть новую с более актуальной ценой.   
              </p>
            </div>
          </div>
        </div>  

      </div>
    </div>

  </main> <!-- .cd-main-content -->

  </div><!--END of MAIN WRAPPER-->



       <!-- {% include "scripts.html"%} -->
       


{%endblock%}
