{% extends "simple_form_main.html" %}

{% load my_formats %}


{% block form %}


<div class="col-sm-10  form-title">
    <h1 class="page-header" style="text-align:center">Поздравляем, вы почти с нами :)</h1>
</div>
<div class="col-sm-10  form-page-col">
                <p class="help-block">
                    Для завершения регистрации мы выслали на ваш электронный ящик
                             письмо с ссылкой активации.
                      
                                        
                </p>
                            
</div>         
                        
                        

   
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    {% include "scripts.html"%}
   




{%endblock%}


