 <div class="col-md-12 border_radius" id="transactions_block" >
                                <table class="table table-hover table-striped"  id='transactions'>
                                <thead>
                                                <tr>
                                                  {% for item in TransTitle %}
                                                        <td><strong>{{item.value}}</strong></td>
                                                  
                                                  {% endfor %}
                                                </tr>
                                </thead>
                                 {% for item in TransList %}
                                        <tr>
                                               {% for cell in item.transes %}
                                                      {% if "extended" in cell %}
                                                          {%if cell.name == "order_id" %}
                                                            <td><a href="javascript:finance.show_conclusion({{cell.value}})">Сверка</a></td>

                                                          {% endif %}
                                                      {% else %}
                                                        <td>{{cell|truncatechars:100}}</td>
                                                      {% endif %}

                                               {% endfor %}
 
                                        </tr>
                                {% endfor %}
                                </table>
                                {% if paging %}
                                <div class="pagination">
                                        <span class="step-links">
                                                {% if Trans.has_previous %}
                                                <a href="?page={{ Trans.previous_page_number }}">Предыдущая</a>
                                                {% endif %}

                                                <span class="current">
                                                Страница {{ Trans.number }} из {{ Trans.paginator.num_pages }}.
                                                </span>

                                                {% if Trans.has_next %}
                                                <a href="?page={{ Trans.next_page_number }}">Следующая</a>
                                                {% endif %}
                                        </span>
                                </div>
                                {% endif %}
</div>          
