<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
           "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru" lang="ru">
  <head>
    <meta charset="utf-8">
<meta name="interkassa-verification" content="f278cc260d7f4d625288745fddc6b847" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="{{STATIC_SERVER}}favicon.ico" type="image/x-icon">
   <meta name="viewport" content="width=600px, initial-scale=0.5"> 
    <meta name="keywords" content="bitcoin, купить bitcoin, покупка bitcoin, продажа bitcoin, купить btc-e код, продать btc-e код, продать Bitcoin, обменять bitcoin, обменник bitcoin, купить биткоин, продать биткоин, обменник биткоин, курс биткоина, bitcoin кошелек, {{keywords}}" />
    <meta name="description" content="bitcoin, купить bitcoin, покупка bitcoin, продажа bitcoin, купить btc-e код, продать btc-e код, продать Bitcoin, обменять bitcoin, обменник bitcoin, купить биткоин, продать биткоин, обменник биткоин, курс биткоина, bitcoin кошелек, {{description}}" />
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />

    <title>{{pagetitle}} - {{title}}</title>

    <!-- Bootstrap core CSS -->
  
        {% include "style.html"%}
     <script src="https://www.google.com/recaptcha/api.js"  >


  </head>

  <body>
  
  
        {%include "facebook_sdk.html"%}

  
        {%include "header.html"%}
 
        {% block content %}
        
        {%endblock%}

        <div class="footer">
                <div class="inner col-md-4">
                <p>Copyright © BTC TRADE UA 2014-2016 | All Rights Reserved.&nbsp;
                <br/> По всем вопросам обращайтесь в email: support@btc-trade.com.ua   
                <br/> телефон: +380 (056) 788 22 88               
                </p>
                </div>
                <div class="inner col-md-4">
                <!--        <a href="/public/balance">Публичная информация</a>
                --></div>
                
               <!-- <img class="pull-right col-md-3"  src="https://btc-trade.com.ua/img/sprite_footer.png"/>-->

        </div>
        
        
  {% include "modal_dlg.html" %}  
    
    
  </body>
  
{% include "external_script.html" %}
{% include "scripts.html" %}

{% block scripts %}

{% endblock %}

<!-- End SiteHeart code -->
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
 

    
</html>





