{% extends "base_main.html" %}

{% load my_formats %}

{% block content %}
  <div class="container-fluid">
      <div class="row">
        <div class="col-md-9 main">
          {% include "side_menu_finance.html" %}
           <div class="col-md-12">      
                <h1 class="page-header">Ваши  заявки на покупку/продажу</h1>
          </div>
         <div class="col-md-12">      

                <div class="trade_pairs">
                {% for Currency in CurrencyTrade %}
                        {% if Currency.url_title == current_stock %}
                                <a class="btn btn-primary" href="#" id="stock_{{Currency.url_title}}" >{{Currency.title}}</a>
                         
                         
                          {% else %}
                        
                        
                                {%if Currency.is_title %}
                                
                                {% else %}
                                        <a class="btn btn-default" href="/finance/open_orders/{{Currency.url_title}}" id="stock_{{Currency.url_title}}" >{{Currency.title}}</a>
                                {% endif %}
                        {% endif %}
                        
                {% endfor %}
                </div>
         </div>
<!--           deals -->
         {% include "my_open_orders.html"%}
<!--                 deals -->
        </div>
    </div>
  </div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->




{%endblock%}

{% block scripts %}

     <script type="text/javascript">
      Main.trade_pair = "{{trade_pair}}";
      Main.currency_base = "{{Currency1}}";
      Main.currency_on = "{{Currency}}";
      Main.start_stock = false;
      setTimeout(Main.my_orders,500);
    </script>
{% endblock %}
