{% extends "base_main.html" %}

{% load my_formats %}

{% block content %}
  <div class="container-fluid">
      <div class="row">
        <div class="col-md-9 main">
          {% include "side_menu_finance.html" %}
          <div class="col-md-12">      
                <h1 class="page-header">Ввод/Вывод инструментов с Ваших депозитов</h1>
          </div>
         <div class="col-md-12">      

                <div class="trade_pairs">
                {% for Currency in CurrencyList %}
                        {% if Currency.title == current_trade %}
                                <a class="btn btn-primary" href="#" id="stock_{{Currency.title}}" >{{Currency.title}}</a>
                         
                          {% else %}
                        
                           
                              <a class="btn btn-default" 
                                 href="/finance/depmotion/{{Currency.title}}" 
                                 id="stock_{{Currency.title}}" >{{Currency.title}}</a>
                               
                        {% endif %}
                        
                {% endfor %}
                </div>
         </div>

         {% include "trans_list.html"%}
         
         
        </div>
    </div>
  </div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    {% include "scripts.html"%}
   



{%endblock%}
