   <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
       <nav class="navbar navbar-inverse" style="margin-bottom: 6px;">
          <div id="logo_btc" style="width: 50px;
margin-right: 10px;
float: left;
margin-top: 6px;"><img src="{{STATIC_SERVER}}home/img/logo.png" alt="" width="50" height="50"></div>
          <a class="brand" href="https://btc-trade.com.ua/index.html"
          style="display: block;
float: left;
padding: 10px 20px 10px;
margin-left: -20px;
font-size: 20px;
color:white;
font-weight: 200;"
          >BTC TRADE UA <br>
          <span style="font-size:14px">украинская биржа криптовалют</span></a>
            <!--<li class="dropdown open">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="true">Dropdown <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li class="dropdown-header">Nav header</li>
                    <li><a href="#">Separated link</a></li>
                    <li><a href="#">One more separated link</a></li>
                    </ul>
                </li>-->
     
           
                    <div class="navbar-header">
                        <button type="button" 
                                class="navbar-toggle collapsed"
                                data-toggle="collapse" 
                                data-target="#navbar" 
                                aria-expanded="false" 
                                aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        </button>
                    </div>
                
                    <div id="navbar" class="navbar-collapse collapse">
                    
                    

                    <ul class="nav navbar-nav navbar-right" id="user_menu" >
                            <!--<li style="font-size: 11px;"><a href="/set_lang/en">Язык: English</a></li>
                            <li style="font-size: 11px;"><a href="/set_lang/ru">Язык: Русский</a></li>-->
                            <li style="font-size: 11px;"><a href="#">Время:<span id="server_time"></span></a></li>
                            <li><a href="/stock">Купить/Продать</a></li>
                            <li><a href="http://news.btc-trade.com.ua">Новости</a></li>

                            {% if  not is_user %}
                            <li><a href="/registration">Регистрация</a></li>              
                            {% endif %}
                            <li><a href="/finance">Личный кабинет</a></li>

                            <li class="dropdown">
                                 <a href="#" cldropdownass="dropdown-toggle"
                                    data-toggle="dropdown" 
                                    role="button" 
                                    aria-expanded="false">Помощь<span class="caret"></span></a>

                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="/page/faq">FAQ</a></li>
                                    <li><a href="https://docs.google.com/document/d/1ocYA0yMy_RXd561sfG3qEPZ80kyll36HUxvCRe5GbhE/edit">API</a></li> 
                                    <li><a href="/page/fees">Тарифы</a></li> 
                                    <li><a href="/page/mob_app">Мобильное приложение BTC TRADE UA</a></li> 
                                    <li><a href="/page/partnership">Партнерская программа</a></li> 
                                    <li><a href="/page/terms">Соглашение</a></li>
                                    <li><a href="/page/help">Документация</a></li>
                                 </ul>
                                 
                            </li>
                            
                    {% if is_user %}
                    <li>
                    <a class="btn btn-danger" style="margin-top: 5px;" href="/logout">Выйти</a>   
                    </li>
                    {% endif %}
                    </ul>

                    </div>
            </nav>
       
      </div>
    </div>
    <div style="height:20px;width:100%;display:block">
    </div>



    <header class="cd-main-header">
        <a href="/stock" class="cd-logo"><img src="{{STATIC_SERVER}}img2018/cd-logo.svg" class="img-fluid" alt="Logo"></a>
        
        <div class="time-div">
            <p id="server_time"></p>
        </div> <!-- cd-search -->

        <a href="#0" class="cd-nav-trigger">Menu<span></span></a>

        <nav class="cd-nav">
            <ul class="cd-top-nav">
                <li><a href="/stock">Торги</a></li>
                <li><a href="http://news.btc-trade.com.ua">Новости</a></li>
                <li class="main-menu-for-desktop"><a href="/finance">Личный кабинет</a></li>           
{% if is_user %}
<li><a href="/logout">Выйти</a></li>
{% endif %}
                <li class="has-children account">
                    <a href="#0">
                        Помощь
                    </a>

                    <ul>
                        <li><a href="/page/faq">FAQ</a></li>
                        <li><a href="/page/fees">Тарифы</a></li>
                        <li><a href="/page/mob_app">Мобильное приложение</a></li>
                        <li><a href="/page/terms">Соглашение</a></li>
                        <li><a href="/page/help">Документация</a></li>  
                        <li><a href="https://docs.google.com/document/d/1ocYA0yMy_RXd561sfG3qEPZ80kyll36HUxvCRe5GbhE/edit">API</a></li>                       
                    </ul>
                </li>
            </ul>
        </nav>
    </header> <!-- .cd-main-header -->