{% extends "base_main.html" %}

{% load my_formats %}

{% block content %}
  <div class="container-fluid">
  
      <div class="row">
         <div class="col-md-2">
            
                <div class="trade_pairs col-md-10">
                
                {% for Currency in CurrencyTrade %}
                        {% if Currency.url_title == current_stock %}
                                <a class="btn btn-success col-md-11" href="#"  >{{Currency.title}}<br/>
                                <strong  id="{{Currency.url_title}}_top_price" >{{Currency.top_price}}</strong></a>
                                
                        
                        {% else %}
                                {% if Currency.is_title %}                  
                                
                                <h5 style="line-height:2em" class="sub-header text-info" >Рынок:&nbsp;<strong>{{Currency.title}}</strong></h5>           
                                
                                {% else %}
                                        
                                        <a class="btn btn-default col-md-11" href="/stock/{{Currency.url_title}}" >{{Currency.title}}<br/>
                                        <strong id="{{Currency.url_title}}_top_price" >{{Currency.top_price}}</strong></a>
                                        
                                {% endif %}
                                
                        {% endif %}
                        
                {% endfor %}
                </div>
         </div>      
         <div class="col-md-8">
            <div class="col-md-12  border_radius fixed" id="user_panel">
            
                {% include "mobile_user_menu.html" %}           
                
                
            </div>  
		             <div class="col-md-12 border_radius">
                        <h5><strong>31.01.2018</strong> Внимание! Сейчас наблюдается ddos-aтака - могут возникать перебои </h5>
                        <h5><strong>29.01.2018</strong> нашли и зачислили 816 транзакций на сумму 1300 KRB без payment id, вводим fee на поиск транзакции без payment id - <strong>0.1</strong> KRB  </h5>
                        <h5><strong>25.01.2018</strong> комиссия вывод BTC возвращается  к обычному значению - 0.0006 </h5>
                        <h5><strong>01.12.2017</strong> <strong>USDT</strong>- криптовалюта компании <a href="https://tether.to/legal/">tether.io</a></h5>
                        <h5><strong>Attention Please</strong>&nbsp;We do not provide service for citizens of USA and do NOT ACCEPT payments from USA!</h5>
             </div>

 
             <div class="col-md-12 " id="stocks_trades">
                        <h3 class="page-header">Торги:</h3>
                        <div class="col-md-1" style="padding-top: 6px;">
                              Биржи:
                         </div> 
                        <div class="col-md-4">
                        <a class="btn btn-success col-md-11 btn-xs current_stock" href="#"
                        onclick="Stock.own(this)"
                        >BTC TRADE UA<br/></a>     
                         </div>      
<!--                        <div class="col-md-4">
                         <a class="btn btn-default col-md-11 btn-xs" href="#"  
                            onclick="Stock.foreign_stock('btc_e', '{{current_stock}}',this)">BTC-E<br/>
                         </a>
                         </div>
                         <div class="col-md-3">
                                <a class="btn btn-default col-md-11 btn-xs" 
                                        href="#" 
                                        onclick="Stock.foreign_stock('cryptsy', '{{current_stock}}', this )" >Cryptsy<br/>
                                </a>       
                        </div>-->
            </div>
            <div class="col-md-12 ">
                <div class="pull-right"><strong>комиссия:</strong>&nbsp;<span id="client_comis"></span>%</div>
                <div class="pull-right"><strong>Online:</strong> <span id="online_users"></span>,&nbsp;</div>
                <div class="pull-right"><strong>Объем(24h):</strong> <span id="volume_base"></span>&nbsp;{{ Currency1 }}/<span id="volume_trade"></span>&nbsp;{{Currency}},&nbsp;</div>
                <div class="pull-right"><strong>Курс UAH/USD:</strong> {{usd_uah_rate}},&nbsp; </div>
                
            </div>         
          <div class="col-md-12" style="padding: 0;">
                 <div  id="chart_trade" >
                 
                                <img src="{{STATIC_SERVER}}processing.gif" />
                 </div>
                 <div  id="chart_btce" style="display:none" ></div>
                 
           
          </div>
         {% include "buy_form.html" %} 
         
         {% include "sell_form.html" %}
          
          
         {% include "orders.html"%} 

         {% include "my_open_orders.html"%} 

<!--           deals -->
     
         {% include "deals.html"%}
<!--                 deals -->

          </div> 
        
         {% include "side_menu.html"%}
        
        
    </div>
  </div> 
   {% include "g2a_modal_dlg.html"%}

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->




{%endblock%}
{% block scripts %}

     <script type="text/javascript">
    
        Main.trade_pair = "{{trade_pair}}";
        Main.min_deal = {{min_deal}};
        Main.currency_base = "{{Currency1}}";
        Main.currency_on = "{{Currency}}";
        Main.usd_uah_rate = "{{usd_uah_rate}}";
      
        Main.rand_key = "{{rand_key}}"                      
      $(function() {
        Main.start_stock();
//         Chat.username = "bogdan2";
         Chat.attach2chat("chat_msg");
         
        
      });
      
    </script>

{%endblock %}
