{% extends "base_main.html" %}

{% load my_formats %}

{% block content %}
<div class="container-fluid main">

   <!-- Jumbotron -->
      
                <h2>Для просмотра  этой страницы необходимо авторизироваться </h2>
                <div class="col-md-4 form-horizontal padding20 border_radius" >
                <input type="hidden" value="{{post_url}}"    id="post_url" >                
                <p></p>            
                        <p >
                                <input type="email" class="form-control"    id="login_username" placeholder="Email">
                        </p>
                        <p >
                                <input type="password" class="form-control" onkeyup="Login.keyup(event)" id="login_password" placeholder="Пароль">
                        </p>
                             <p class="required"><label for="id_captcha">Я не робот:</label>
                             <p><div id="id_captcha"  class="g-recaptcha" data-sitekey="{{RECAPTCHA_PUBLIC_KEY2}}"></div>
</p>

</p>

                        <p>                
                                <button type="submit" class="btn btn-success"  onclick="Login.try_login_page()">Войти</button> 
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <a  class="btn btn-success"  href="/forgot">Забыли пароль?</a> 
                        </p>
                </div>

        
        

      <!-- Example row of columns -->

 
<!--           deals -->
     
<!--                 deals -->
  
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    {% include "scripts.html"%}
   
    
</div>

{% include "g2a_modal_dlg.html"%}


{%endblock%}
{% block scripts %}

     <script type="text/javascript">
    
      
        Main.rand_key = "{{rand_key}}"                      
      $(function() {
        //Main.start_stock();
        
        
      });
    </script>
{%endblock %}

