{% extends "base_main.html" %}

{% load my_formats %}

{% block content %}
  <div class="container-fluid">
      <div class="row">
        <div class="col-md-8 col-md-offset-1" role="main" id="top">
          <!-- Getting started
================================================== -->
        
                <div class="bs-docs-section">
                <h1 id="how_works" class="page-header">Как работает BitCoin?</h1>

                <p>
                        Базовым элементом этой платёжной системы является <strong>программа-клиент</strong> с открытым исходным кодом.
                        С помощью сетевого протокола прикладного уровня запущенные на множестве компьютеров клиенты соединяются 
                        между собой в одноранговую сеть.
                
                </p>
                <p>
                        При создании транзакции 
                        Когда один пользователь передаёт некую сумму другому пользователю,
                        он создаёт новую транзакцию, которая содержит "подпись" предыдущей транзакции, 
                        подписанный им, и публичный ключ кошелька следующего владельца.
                        Затем эта информация широковещательным запросом отправляется в сеть. 
                        Остальные узлы сети проверяют подписи, прежде чем принять транзакцию к обработке и перевести средства 
                        с одного счета на другой.
                </p>
                          
                </div>
                
                <div class="bs-docs-section">
                        <h1 id="clients_and_partners" class="page-header">Пользователи и участники</h1>

                        <p>
                        На данный момент платежная сеть биткоин насчитывает порядка 60 тыс. серверов.
                        Это машины, которые хранят блоки транзакций и подтверждают транзакции пользователей.                
                        </p>
                        <p>
                                Количество пользователей оценить труднее, но можно говорить что их на порядок больше. 
                        </p>
                         <p>
                                Пользователь &mdash; это человек использует программное обеспечение,
                                которое может посылать и получать биткоины, но при этом не хранит 
                                чужие блоки транзакций и не подтверждает транзакции.
                         </p>
                          
                </div>
                <div class="bs-docs-section">
                        <h1 id="privacy" class="page-header">Анонимность</h1>
                        <p>
                                Да! Ваши транзакции хранятся в открытом доступе. Но нигде не хранится 
                                вашего имени. И нет надежного способа связать вас и какой-то 
                                конкретный счет, кроме как изъять ваш компьютер, с которого 
                                вы делали переводы( но большинство клиентов поддерживают функцию дополнительного
                                шифрования ваших приватных ключей).
                        </p>
                        <p>
                                Для достижения полной анонимности, вы можете получать и отправлять биткоины каждый раз
                                с нового счет. Помните! Нет ограничения на количество счетов.
                        
                        </p>
                </div>
                
                
                
                <div class="bs-docs-section">
                        <h1 id="adress" class="page-header">Счет в системе</h1>
                        <p>
                              Пользователь может создать очень много различных счетов в системе. Теоретически
                              никаких ограничений на количество счетов в системе не существует. 
                              </p>
                              <p>
                               <strong>Счетом</strong> в системе "биткоин" является 
                               уникальный адрес, который генерируется при помощи специального алгоритма, 
                               так называемого криптографического "хеширования". Счет в системе это уникальная пара "публичный ключ" 
                               и "приватный ключ".
                              </p>
                              
                                <p>Что бы совершить перевод с определенного <strong>счета</strong> нужно знать
                                его приватный ключ". Для каждого счета есть свой <strong>приватный ключ</strong> и только один.                                                  
                                </p>
                                <p><strong>Пример :</strong><br/>
                                        Приватный ключ:&nbsp;5HpHagT65TZzG1PH3CSu63k8DbpvD8s5ip4nEB3kEsreAbuatmU <br/>
                                        Публичный ключ:&nbsp;1MsHWS1BnwMc3tLE8G35UXsS58fKipzB7a <br/>                    
                                        
                                </p>
                        
                        <p><strong>Вы</strong> вы не можете в ручном режиме указать приватный ключ для своего счет.
                        Приватный ключ высчитывается при помощи алгоритма, гарантирующего, что проще слетать 
                        на марс, чем его взломать.
                        </p>
                        <p>
                         К примеру вот https://blockchain.info/ru/address/1i7cZdoE9NcHSdAL5eGjmTJbBVqeQDwgw публичный ключ кошелька,
                         на котором лежат 144 тыс., биткоинов правительства США( эквивалент € 64,629,766.83 ).
                         И до сих пор с него не пропало ни одного "биткоина".                               
                        </p>
                        <p>
                         Попытки взломать платежную  эту систему предпринимались неоднократно, но они не увенчались успехом.
                        </p>
                        
                          
                </div>
                
                 <div class="bs-docs-section">
                        <h1 id="adress-create" class="page-header">Создать счет</h1>
                        <p>Что бы начать принимать биткоины, вам достаточно 
                           установить одну из программ-клиентов,  или воспользоваться 
                           интернет кошельком.                        
                        </p>   
                        <p>
                                Вот несколько способов:
                        </p>
                
                        <ul>
                                <li><a href="https://multibit.org/"><b>MultiBit</b></a> - установить приложение для Windows, Mac и Linux.</li>
                                <li><a href="https://play.google.com/store/apps/details?id=de.schildbach.wallet"><b>Bitcoin Wallet</b></a> - для телефона или планшета на Android.</li>                
                                <li><a href="https://blockchain.info/ru"><b>Blockchain</b></a> - многофункциональный web кошелек </li>
                                <li><a href="/registration"><b>BTC TRADE UA</b></a> - зарегистрироваться у нас на бирже, 
                                и мы вам сгенерируем адрес для прием платежей </li>
                        </ul>        
                                
                          
                </div>
                <div class="bs-docs-section">
                        <h1 id="safety" class="page-header">Безопасность</h1>
                        <p>
                             Вы уже поняли, что доступ к вашему счету контролируется при помощи приватного ключа.                                                    
                        </p>
                        <p>
                            То есть, что бы максимально обезопасить ваши средства, вам достачно записать 
                            ваши приватные ключи на флешку(файл <strong>wallet.dat</strong>).  
                        </p>
                        <p>
                              Без этого файла никто не сможет списать средства с вашего счета.  
                        </p>
                                
                          
                </div>
        </div>
        <div class="col-md-3">
          <div class="bs-docs-sidebar hidden-print affix" role="complementary">
            <ul class="nav bs-docs-sidenav">

                <li class="active">
                        <a href="#how_works">Как работает BitCoin</a>
                </li>
                 <li class="active">
                        <a href="#clients_and_partners">Пользователи и участники</a>
                </li>
                 <li class="active">
                        <a href="#privacy">Анонимность</a>
                </li>
                <li class="">
                        <a href="#adress">Счет в системе</a>
                </li>
                <li class="">
                        <a href="#adress-create">Создать счет</a>
                 </li>
                <li class="">
                        <a href="#safety">Безопасность</a>
                 </li>
                   
            

            </ul>
            <a class="back-to-top" href="#top">
              Наверх
            </a>
          </div>
        </div>
      </div>
       {% include "scripts.html"%}
       
    </div>
  </div> 
{%endblock%}
