  <div class="col-md-6 border_radius ">      
                <h5 class="sub-header text-info" >Продать {{ Currency }}</h5>
                {% if is_user %}
                        <h6 class="sub-header text-success">Ваши средства: <strong class="cursor" onclick="Main.calc_straight(this)" id="your_balance_currency">{{ balance_sell }}</strong> {{ Currency }}</h6>   
                        <h6 class="sub-header info">Макс. цена: <strong id='sell_max_price'></strong> {{ Currency1 }} <span class="pull-right">мин. сделка:&nbsp;{{min_deal}}</span></h6>   
                {% endif %}
                <div id="sell_form"  class="form-horizontal">
                
                       <div class="form-group ">
                                <label for="sell_count" 
                                        class="col-sm-5 control-label"
                                        >
                                        Кол-во :</label>
                                <div class="col-sm-5 ">
                                        <input type="text" class="form-control"  id="sell_count" placeholder="0">
                                </div>
                                <div class="col-sm-2">
                                <p class="form-control-static">
                                        <strong>{{ Currency }}</strong></p>
                                 </div>       
                        </div>
                        <div class="form-group " >
                                <label for="sell_price" 
                                        class="col-sm-5 control-label" 
                                       >
                                        Цена за ед.&nbsp;:</label>
                                 <div class="col-sm-5 ">
                                        <input type="text"  class="form-control" onkeyup="Main.eq_to_usd(this, 'sell_price_usd_eq')"  value="" id="sell_price" placeholder="">
                                        
                                        <span style="display:none" class="help-block" id="sell_price_usd_eq">0&nbsp;<strong>USD</strong>  </span>
                                </div>
                                <div class="col-sm-2">    
                                        <p class="form-control-static">
                                        <strong>{{ Currency1 }}</strong> </p>
                                </div>

                        </div>
                        <div class="form-group " >
                                <div class="col-sm-5 control-label">Всего:  </div>
                                <div class="col-sm-5" >
                                        <p class="form-control-static">   <span class="text-info" id="sell_result">0</span>&nbsp;<strong>{{ Currency1 }}</strong>  
                                        <span style="display:none" class="help-block" id="sell_result_usd_eq">0&nbsp;<strong>USD</strong>  </span></p>                     
                                </div>
                        </div>
                        <div class="form-group">
                                <div class="col-sm-5 control-label" >Комиссия:  </div>
                                <div class="col-sm-5" >
                                         <p class="form-control-static">  <span class="text-info" id="sell_comission">0</span>&nbsp;<strong>{{ Currency1 }}</strong>
                                         </p>
                                </div>
                        </div>
                        <div class="form-group   col-sm-10 help_block">
                                <span class="help-block" id="sell_help">Нажмите посчитать, чтобы рассчитать сумму в соответствии с ордерами.</span>
                        </div>
                        <div class="form-group   col-sm-12">                     
                              {% if is_user %}  
                                <button type="button"  class="btn btn-success pull-right" id="sell_button"
                                                onclick="Main.make_order_sell('{{Currency}}','{{Currency1}}')">Продать</button>   
                              {% else %}
                                        <button type="button"  id="sell_button" class="btn btn-success pull-right" disabled 
                                                onclick="Main.make_order_sell('{{Currency}}','{{Currency1}}')">Продать</button>                                  
                              {% endif %}
                             
                             <button type="button" class="btn btn-default " onclick="Main.calc_order('sell')">Посчитать</button>   
                        </div>
                        
               
                </div>
                
                
          </div>    